@page "/parentcomponent"

<h3>Parent Child Relation</h3>

<CascadingValue Value="@MessageForGrandChild" Name="Message">
    <CascadingValue Value="@LuckyNumber" Name="LuckyNumber">
<_ChildComponent @ref="ChildComp" OnButtonClick="@ShowMessage" Title="This title is passed as parameter from Parent component"> 
    <ChildContent>Render Child Component</ChildContent>
    <DangerChildContent>Danger Child Content from Render Fragment</DangerChildContent>
</_ChildComponent>
</CascadingValue>
</CascadingValue>

<p><b>@MessageText</b></p>
<_AnotherChildComponent placeholder="Initial Text"></_AnotherChildComponent>

<div class="row">
    <button class="btn btn-success" @onclick="@(() => ChildComp.ToastrSuccess())">Show SweetAlert</button>
</div>

@*<_ChildComponent Title="This is second Child Component">
    Render Child Component
</_ChildComponent>*@

@code {
    private _ChildComponent ChildComp { get; set; }

    public string MessageForGrandChild = "This message is from your parent (ParentComponent)";
    public string LuckyNumber = "7";

    public string MessageText= string.Empty;
    private void ShowMessage()
    {
        MessageText = "Tangy Button Clicked From Child Component";
    }
}
